@import url(./theme/light-theme-pari-v.1.0.0.css);
@import url(./elements/elements.css);
@import url(./components/pari-component.css);
@import url(./utilities/utilities.css);



 .hero {
    margin: 0;
    background-color: var(--primary-color);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 80vh;
    padding: var(--spacing-small);
}

.rating {
    font-size: var(--font-size-para);
    color: var(--secondary-color);
}


.hero-video-container, 
.hero article {
    width: 45%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-mid);
}

.hero-video-container {
    position: relative;
    overflow: hidden;
}

.hero-video-container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.hero-video-container .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius-full);
}

.hero-video-container .play-button button {
    font-size: var(--font-size-h1);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
}

/* Responsive Styles for Breakpoints */
@media (max-width: 1400px) {
    .hero {
        height: auto;
        padding: var(--spacing-mid);
    }
    .hero-video-container, 
    .hero article {
        width: 45%;
    }
}

@media (max-width: 1200px) {
    .hero {
        height: auto;
        padding: var(--spacing-mid);
    }
    .hero-video-container, 
    .hero article {
        width: 45%;
    }
}

@media (max-width: 992px) {
    .hero {
        height: auto;
        padding: var(--spacing-mid);
    }
    .hero-video-container, 
    .hero article {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        height: auto;
        padding: var(--spacing-small);
    }
    .hero-video-container, 
    .hero article {
        width: 90%;
        padding: var(--spacing-small);
    }
    .hero-video-container img {
        height: auto;
        
    }
    .hero-video-container .play-button button {
        font-size: var(--font-size-h2);
    }
}

@media (max-width: 576px) {
    .hero {
        padding: var(--spacing-xsmall);
        height: auto;
    }
    .hero-video-container, 
    .hero article {
        padding: var(--spacing-xsmall);
        width: 90%;
    }
}
